<% airports.each do |airport| %>
  <el-option value="<%= airport.iata_code %>" class="block px-4 py-3 text-sm text-gray-900 hover:bg-blue-50 hover:text-blue-700 focus:bg-blue-50 focus:text-blue-700 focus:outline-none cursor-pointer transition-colors duration-150 ease-in-out">
    <div class="font-medium"><%= airport.name %></div>
    <div class="text-gray-500 text-xs"><%= airport.iata_code %> - <%= airport.city %>, <%= airport.country %></div>
  </el-option>
<% end %>